.Container {
  max-width: 1100px;
  margin: 20px auto;
  border: 1px solid #fafafa;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.copyIcon {
  display: flex;
  gap: 5px;
}
.payment {
  display: flex;
  gap: 5px;
}
.cartNumber {
  display: flex;
  align-items: center;
  gap: 10px;
}
.status {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100%;
}
.statusIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
}

@media (max-width: 600px) {
  .statusIndicator {
    width: 10px;
    height: 10px;
  }
  .status {
    font-size: 0.9rem;
  }
}
.statusIndicator.active {
  background: #72c23f;
}
.statusIndicator.inactive {
  background: #d90429;
}

.result {
  padding: 16px;
}

.toastMessage {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
}
.modalOverride :global(.ant-modal-content) {
  padding: 0 !important;
}
